In [1]:
#Importation de nos librairies
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt

**Chargement de nos differents jeu de données dans un dataframe**

In [2]:
#Dataframe pour les vehicules
df_vehicules = pd.read_csv("vehicules.csv")

#Dataframe des accidents
df_accidents =  pd.read_csv("accidents.csv")

df_vehicules.head()

,Num_acc,Catégorie du véhicule,Point de choc,Nombre de passagers,Obstacle heurté
0,0,Motocyclette,Avant,1,Fossé
1,1,Véhicule Léger,Avant,2,Véhicule
2,1,Bicyclette,Arrière,1,Véhicule
3,1,Véhicule Utilitaire,Côté Droit,1,Véhicule
4,2,Véhicule Léger,Avant,2,Véhicule

In [3]:
df_accidents.head()

,Num_acc,Conditions Atmosphériques,Etat Surface,Catégorie Route,Vitesse Maximale Autorisée,Nombre Véhicules Impliqués,Nombre Usagers Impliqués,Date,Conditions Lumineuses,Type Collision
0,0,NaN,Mouillé,Voie Communale,30.0,NaN,1.0,2022-01-04 09:12:15,NaN,Autre
1,1,NaN,Sec,NaN,70.0,3.0,NaN,2022-01-25 20:01:54,Nuit,Autre
2,2,NaN,Mouillé,Voie Communale,30.0,2.0,3.0,2022-01-08 04:01:57,Nuit,Par l'arrière
3,3,Pluie,NaN,Route Départementale,NaN,NaN,2.0,2022-01-07 08:19:07,Nuit,Par le coté
4,4,NaN,Mouillé,NaN,90.0,NaN,4.0,2022-01-04 11:57:42,Jour,Par le coté

**Quelques informations sur nos dataframe**

In [4]:
#Pour les vehicules
df_vehicules.info()
df_vehicules.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17465 entries, 0 to 17464
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Num_acc                17465 non-null  int64
 1   Catégorie du véhicule  17465 non-null  object
 2   Point de choc          17465 non-null  object
 3   Nombre de passagers    17465 non-null  int64
 4   Obstacle heurté        17465 non-null  object
dtypes: int64(2), object(3)
memory usage: 682.4+ KB

Num_acc                  0
Catégorie du véhicule    0
Point de choc            0
Nombre de passagers      0
Obstacle heurté          0
dtype: int64